<div class="footerfix">
  <div class='social'>
    <a href='https://github.com/jlr7245' target='_blank' title='GitHub'><i class='fa fa-fw fa-github'></i></a>
    <a href='https://twitter.com/_cetaceans' target='_blank' title='Twitter'><i class='fa fa-fw fa-twitter'></i></a>
    <a href='http://medium.com/@_cetaceans' target='_blank' title='Medium'><i class='fa fa-fw fa-medium'></i></a>
    <a href='https://www.behance.net/JLR7245' target='_blank' title='Behance'><i class='fa fa-fw fa-behance'></i></a>
    <a href='https://angel.co/j-silverstein' target='_blank' title='AngelList'><i class='fa fa-fw fa-angellist'></i></a>
    <a href='https://www.linkedin.com/in/jlr7245/' target='_blank' title='LinkedIn'><i class='fa fa-fw fa-linkedin'></i></a>
  </div>
  <div class='phone-email'>
    <span class='fixed-w'><i class='fa fa-phone fa-fw fa-x'></i> 765-427-6014</span>
    <span class='fixed-w'><i class='fa fa-envelope fa-x fa-fw'></i> <a href='mailto:j@jsilv.works?subject=Working together!' target='_blank'>j@jsilv.works</a></span>
  </div>
</div>