@font-face {
    font-family: 'romana_btbold';
    src: url('./fonts/rmn1.woff2') format('woff2'),
         url('./fonts/rmn1.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'romana_btroman';
    src: url('./fonts/rmn2.woff2') format('woff2'),
         url('./fonts/rmn2.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pxplus-ibm-vga';
    src: url('./fonts/pxp.woff2') format('woff2'),
         url('./fonts/pxp.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



$base-font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
$header-f: 'romana_btroman', georgia, serif;
$header-b: 'romana_btbold', georgia, serif;
$monospace: 'pxplus-ibm-vga', operator mono, courier, mono;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #ffffff;
$brand-color:      #012EFC;
$brand-2:          #CBFDCA;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1500px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;


//========== J CSS

.bigwrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1000px;
  width: 80vw;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ============================== HEADER AND NAV */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10vw;
  ul {
    display: flex;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    li {
      a {
        padding: 15px;
        color: black;
        text-decoration: none;
        font-family: $monospace;
        &:visited {
          color: black;
        }
        &:hover {
          border-bottom: 3px solid blue;
          text-decoration: none;
        }
      }
      .active {
        background-color: #eee;
      }
    }
  }
}

main {
  min-height: 80vh;
  flex: 1;
  display: flex !important;
  flex-direction: column;
}

.footerfix {
  position: fixed;
  bottom: -5px;
  left: -5px;
  padding: 125px 0px 0px 25px;
  box-sizing: border-box;
  background-image: url('./footer-blue.svg');
  background-size: cover;
  height: 300px;
  width: 300px;
  color: white;
  a {
    color: white;
  }
  i {
    color: $brand-2;
    font-size: 1.2em;
    transition: 0.5s all;
    &:hover {
      transform: scale(1.5,1.5);
      transition: 0.5s all;
    }
  }
  .phone-email {
    margin-top: 10px;
    .fixed-w {
      display: block;
      font-family: $monospace;
      margin-bottom: 8px;
      font-size: 0.8em;
    }
  }
  @media screen and (max-width: 800px) {
    position: relative;
    width: 100%;
    background-color: $brand-color;
    padding: 50px;
    background-image: none;
  }
}

//======================== HOME

.home {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.home-top {
  display: flex;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  flex: 5;
  align-items: center;
  .image {
    flex: 1;
    img {
      width: 100%;
    }
  }
  .homecopy {
    flex: 2;
    .intro {
      .top {
        display: block;
      }
      .nerdy {
        font-family: $monospace;
        color: $brand-color;
      }
      .bigname {
        font-size: 6em;
        font-family: $header-f;
        @media screen and (max-width: 1000px) {
          font-size: 2em;
        }
      }
    }
    .content {
      @media screen and (min-width: 1000px) {
        font-size: 1.3em;
        margin-left: 70px;
      }
    }
  }
}

.home-bottom {
  display: flex;
  flex: 1;
  .post-list {
    display: flex;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    flex: 1;
    min-width: 320px;
    li {
      flex: 1;
    }
  }
}


dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}


//================== RESUME

@keyframes resume-load {
  0% {
    opacity: 0;
    margin-top: 75px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

@keyframes det-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.assets, .details {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.assets {
  flex-direction: row;
  flex-wrap:wrap;
  .asset {
    display: inline-block;
    padding: 3px 8px;
    background-color: $brand-color;
    margin: 3px;
    color: white;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      background-color: $brand-2;
      color: black;
      transition: 0.2s all;
    }
  }
}

.resume {
  flex: 2;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px;
  .resitems {
    display: flex;
    flex-direction: column;
  }
}

.resumecontainer {
  flex: 1;
  font-size: 0.8em;
  h3 {
    font-family: $header-f;
    font-size: 1.5em;
  }
}

.details {
  flex-direction: column;
  border-top: 0px;
  background-color: $brand-2;
  .det {
    h3, p {
      animation: det-load 0.5s;
    }
  }
}

.resitem {
  animation: resume-load 0.5s;
  margin-top: 15px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-content {
  flex: 1;
}